.styled-bottom-panel {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 30px;
    height: 300px;
    background: radial-gradient(ellipse at bottom, rgba(27, 82, 139, 1) 0%, rgba(27, 82, 139, 0) 75%);
    z-index: 5;
    pointer-events: none;
}

.gradient-effect-at-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(27, 82, 139, 1), rgba(27, 82, 139, 0) 100%);
}

.children-wrapper {
    position: relative;
    margin: auto 1.5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.child-at-center-position {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    max-width: 100%;
}

.child-at-side-position {
    position: relative;
    pointer-events: initial;
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1120px) {
    .child-at-side-position {
        display: none;
    }
}
